InlayHints:
  Enabled: false
Hover:
  ShowAKA: true
Diagnostics:
  ClangTidy:
    Add:
      - 'bugprone-*'
      - 'clang-analyzer-*'
      - 'concurrency-*'
      - 'cppcoreguidelines-*'
      - 'misc-*'
      - 'modernize-*'
      - 'performance-*'
      - 'portability-*'
      - 'readability-*'
    Remove:
      - 'modernize-use-trailing-return-type'
      - 'misc-use-internal-linkage'